.App {
  text-align: center;
}

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

.chat-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: radial-gradient(#333 0%, rgb(0, 0, 0) 100%);
}
/* MENU */
/*      */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.menu {
  max-width: 1500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  color: white;
  font-family: "Odibee Sans", cursive;
}

.menu-logo a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 2.5em;
}

.menu-logo a:hover {
  color: #333;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.75em;
  margin-left: 1em;
}

/* Connect/Create forms */
/*                      */
.forms-div {
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.form-container {
  width: 350px;
  height: 320px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Odibee Sans", cursive;
}

.form-container:hover {
  background-color: rgba(0, 0, 0, 1);
}

.form-container .form {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-input-text {
  width: 100%;
  height: 40px;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 10px;
  margin-bottom: 0.75em;
  border: solid 1px white;
  background-color: transparent;
  color: white;
  font-family: "Odibee Sans", cursive;
}

.form-input-text:placeholder-shown {
  border: solid 1px rgb(153, 153, 153);
}
.form-input-text::placeholder {
  font-size: 1.1em;
  color: rgb(153, 153, 153);
}
/* TODO change form-input-text style when active*/

.form-submit {
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.7em;
}

.form-heading,
.form-submit {
  font-weight: bolder;
  background: none;
  border: none;
  color: white;
  font-family: "Odibee Sans", cursive;
  letter-spacing: 2px;
}

.form-heading {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

/* Chat Page */
/*           */

.horizontal-flex {
  display: flex;
}

.chat {
  max-width: 1000px;
  max-height: 1000px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.chat:hover {
  background-color: black;
}

.horizontal-flex {
  display: flex;
  height: 100%;
  width: 100%;
}

.members-container {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.members-info {
  height: 50px;
  width: 100%;
  padding-left: 2em;
  display: flex;
  align-items: center;
}

.members {
  width: 100%;
  height: 766px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.member,
.message {
  margin-bottom: 0.5em;
}

.chat-right-side {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messages-container {
  width: 100%;
  height: 92%;
}

.messages {
  width: 100%;
  height: 710px;
  padding: 1em;
  overflow-y: auto;
  background-color: rgb(20, 20, 20);
}

.room-info {
  height: 50px;
  width: 100%;
  padding: 0em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-button {
  margin-left: 1em;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9em;
}

.room-button.leave,
.room-button.clear {
  color: white;
  background: none;
}

.room-button.leave:hover {
  color: red;
}

.room-button.clear:hover {
  color: green;
}

/* Send message */
/*              */
.send-message-container {
  width: 100%;
  height: 8%;
  padding: 1em;
}

.form-message {
  min-width: 50%;
  max-width: 80%;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 10px;
  border: solid 1px white;
  background-color: transparent;
  color: white;
}

.form-message::placeholder {
  font-size: 1em;
  color: rgb(153, 153, 153);
}

.form-message:placeholder-shown {
  border: solid 1px rgb(153, 153, 153);
}

.send-button {
  cursor: pointer;
  margin-left: 2em;
  background: none;
  color: white;
  border: none;
  font-size: 1.5em;
}
.send-button:hover {
  color: rgb(139, 139, 139);
}

/* */
